#contact-form {
	width: 54em;
	height: 539px;
	margin-top: 5em;
	border: none;
	overflow: hidden;
}

#form-overlay {
	background-color: white;
	height: 71px;
	width: 54em;
	margin-top: -71px;
	position: relative;

}

article {
	padding-bottom: 10em;
}

@media screen and (orientation: portrait) {
	#contact-form {
		width: 90vw;
		height: 80vh;
	}
	article {
		padding-bottom: 0em;
	}
}

@media (prefers-color-scheme: dark) {
	#form-overlay {
		background-color: black;
	}
}