#contact-form {
	width: 54em;
	height: 539px;
	margin-top: 5em;
	border: none;
	overflow: hidden;
}

article {
	padding-bottom: 10em;
}

@media screen and (orientation: portrait) {
	#contact-form {
		width: 90vw;
		height: 80vh;
	}
	article {
		padding-bottom: 0em;
	}
}