#main-body {
	display: flex;
	flex-direction: row;
	width: 90dvw;
	margin: 0;
	padding: 5dvw;
	padding-bottom: 0;
	justify-content: space-around;
}

#main-body div button {
	width: 12em;
	margin-left: 0;
}

#main-body div button.success {
	width: 25.125em;
}

.paragraph-text {
	max-width: 17.5em;
}

#discord-info {
	display: flex;
	flex-direction: row;
}

#discord-info ul {
	list-style: none;
	font-size: 1em;
	color: black;
	font-family: overused-grotesk, sans-serif;
	letter-spacing: -0.03em;
	font-weight: 500;
	font-style: normal;
}

#arrow {
	height: calc(90dvh - 6em);
	font-family: overused-grotesk, sans-serif;
	font-weight: 900;
	font-size: 2em;
	font-style: normal;
	text-align: center;
	line-height: calc(90dvh - 6em);
}

#timestamp {
	width: 16.75em;
	font-size: 1.5em;

	color: black;
	font-family: overused-grotesk, sans-serif;
	letter-spacing: -0.03em;
	font-weight: 500;
	font-style: normal;
	padding-bottom: 0;
	margin-bottom: 1em;
	margin-top: 1.5em;
}

header {
	margin: 0;
	padding-right: 0;
	padding-left: 2.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	background-color: black;
	width: calc(100dvw - 2.5em);
	height: 6em;
	box-shadow: inset 0 0 0 var(--primary-color), inset 0 0 0 var(--primary-color), inset 1.5em 0 0 var(--primary-color), inset 0 0 0 var(--primary-color);
}

h1 {
	font-family: overused-grotesk, sans-serif;
	color: white;
	letter-spacing: -0.03em;
	font-style: italic;
	font-size: 3em;
	font-weight: 900;
	max-width: 9em;
	padding: 0;
	width: fit-content;
	text-align: justify;
	margin: 0;
}
h2 {
	color: black;
	scroll-margin-top: 2em;
	font-family: overused-grotesk, sans-serif;
	letter-spacing: -0.03em;
	font-style: italic;
	font-size: 3em;
	font-weight: 900;
	padding: 0;
	margin: 0;
	text-align: left;
	display: block;
	width: 11.25em;
	margin-left: 0;
	margin-right: 0;
}
h3 {
	color: black;
	font-family: overused-grotesk, sans-serif;
	letter-spacing: -0.03em;
	font-style: italic;
	font-size: 1.5em;
	font-weight: 900;
	padding: 0;
	margin-top: 3em;
	margin-left: 0;
}

input {
	all: unset;
	color: #fff;
	font-size: 1.5em;
	font-family: overused-grotesk, sans-serif;
	letter-spacing: -0.03em;
}

ul li p {
	padding: 3em;
	width: calc(15vw - 6em);
}

.input {
	display: flex;
	flex-direction: column;
}

@media screen and (orientation: portrait) {
	#arrow {
		display: none;
	}
	.input {
		margin-bottom: 10vh;
	}
	#home {
		width: 30dvw;
		margin-right: 2.5em;
	}
	h1 {
		max-width: 50vw;
		font-size: 2.5em;
	}
	h2 {
		font-size: 3em;
		width: 80vw;
		padding-top: 1em;
	}
	#main-body {
		flex-direction: column;
		width: 80dvw;
		margin-left: 10vw;
		margin-right: 10vw;
		padding: 0;
		overflow-x: hidden;
	}
	#manipulation-buttons {
		padding: 0;
	}
	#discord-info {
		flex-direction: column;
	}
	#main-body div button {
		width: 80dvw;
	}

	#main-body div button.success {
		width: 90dvw;
		margin-right: 0;
	}
}

@media (prefers-color-scheme: dark) {
	header {
		background-color: white;
	}
	h1 {
		color: black;
	}
	h2, h3, #timestamp, #arrow, #discord-info ul {
		color: white;
	}
}