/* ---------- Button Links ---------- */
button.link {
	width: 8em;
	background-color: black;

	color: white;
	font-family: overused-grotesk, sans-serif;
	letter-spacing: -0.03em;
	font-weight: 600;
	font-style: normal;
	font-size: 1.5em;
	text-align: left;

	margin: 1em;
	padding: 0;

	border: none;
	cursor: pointer;
	position: relative;

	border: 0;
	border-style: outset;
	border-left-width: 1em;
	border-color: var(--primary-color);

	z-index: 2;

}

button.link .wiper {
	transition: width 0.5s ease;
	width: 0;
	height: 100%;
	background-color: var(--primary-color);
	position: absolute;
	z-index: 3;
}

button.link p {
	position: relative;
	z-index: 4;
	padding: 0.5em;
	padding-left: 0.75em;
	margin: 0;
	transition: color 0.5s ease;
}

/* ---------- Button Link Dropdowns ---------- */
button.link-dropdown {
	width: 8em;
	background-color: black;

	color: white;
	font-family: overused-grotesk, sans-serif;
	letter-spacing: -0.03em;
	font-weight: 600;
	font-style: normal;
	font-size: 1.5em;
	text-align: left;

	margin: 1em;
	padding: 0;

	border: none;
	cursor: pointer;
	position: relative;

	z-index: 2;

	border-right: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-style: outset;
	border-left-width: 1em;
	border-color: var(--secondary-color);
}
button.link-dropdown .wiper {
	transition: width 0.5s ease;
	width: 0;
	height: 100%;
	background-color: var(--secondary-color);
	position: absolute;
	z-index: 3;
}
button.link-dropdown p {
	position: relative;
	z-index: 4;
	padding: 0.5em;
	padding-left: 0.75em;
	margin: 0;
	transition: color 0.5s ease;
}

/*
The problem being solved here is the fact that we need to declare the height in terms of something other than %.
This solution is far from ideal but will work until something like https://github.com/w3c/csswg-drafts/issues/4559 is implimented by browsers.
Very long dropdowns (I've decided that here, the limit should be 10 elements) can harm the ux; this limit should never be met in reality.
*/
ul.link-dropdown-list:has(> *:nth-last-child(1)) {
	height: 3em;
	transition: height 0.25s ease, padding 0.25s ease, margin-top 0.25s ease;
}
ul.link-dropdown-list:has(> *:nth-last-child(2)) {
	height: 5.5em;
	transition: height 0.25s ease, padding 0.25s ease, margin-top 0.25s ease;
}
ul.link-dropdown-list:has(> *:nth-last-child(3)) {
	height: 8em;
	transition: height 0.25s ease, padding 0.25s ease, margin-top 0.25s ease;
}
ul.link-dropdown-list:has(> *:nth-last-child(4)) {
	height: 10.5em;
	transition: height 0.25s ease, padding 0.25s ease, margin-top 0.25s ease;
}
ul.link-dropdown-list:has(> *:nth-last-child(5)) {
	height: 13em;
	transition: height 0.25s ease, padding 0.25s ease, margin-top 0.25s ease;
}
ul.link-dropdown-list:has(> *:nth-last-child(6)) {
	height: 15.5em;
	transition: height 0.25s ease, padding 0.25s ease, margin-top 0.25s ease;
}
ul.link-dropdown-list:has(> *:nth-last-child(7)) {
	height: 18em;
	transition: height 0.25s ease, padding 0.25s ease, margin-top 0.25s ease;
}
ul.link-dropdown-list:has(> *:nth-last-child(8)) {
	height: 20.5em;
	transition: height 0.25s ease, padding 0.25s ease, margin-top 0.25s ease;
}
ul.link-dropdown-list:has(> *:nth-last-child(9)) {
	height: 23em;
	transition: height 0.25s ease, padding 0.25s ease, margin-top 0.25s ease;
}
ul.link-dropdown-list:has(> *:nth-last-child(10)) {
	height: 25.5em;
	transition: height 0.25s ease, padding 0.25s ease, margin-top 0.25s ease;
}
ul.link-dropdown-list {
	text-decoration: underline;
	transition: height 0.25s ease, padding 0.25s ease, margin-top 0.25s ease;

	font-family: overused-grotesk, sans-serif;
	letter-spacing: -0.03em;
	font-weight: 600;
	font-style: normal;
	font-size: 1.5em;
	text-align: left;

	z-index: 0;
	color: white;
	list-style-type: none;
	
	background-color: black;
	padding: 0;
	padding-top: 0.5em;
	padding-bottom: 0em;
	width: 8em;
	margin-top: -2em;

	display: flex;
	align-items: start;
	flex-direction: column;
	justify-content: center;
	position: relative;

	overflow: hidden;
}

ul.link-dropdown-list li {
	padding-left: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	cursor: pointer;
	position: relative;
	z-index: 1;
	width: fit-content;

	background-image: linear-gradient(to right, var(--secondary-color), var(--secondary-color) 50%, white 50%);
	background-size: 200%;
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

	background-position-x: 100%;
	transition: background-position-x 0.25s ease, padding-top 0.25s ease, padding-bottom 0.25s ease, visibility 0.25s, opacity 0.25s ease;
}

ul.link-dropdown-list a li {
	text-decoration: none;
}

ul.link-dropdown-list li:hover {
	background-position-x: 0%;
}

ul.link-dropdown-list.hide {
	height: 0;
	padding-top: 0em;
	padding-bottom: 0em;
	margin-top: -3em;
}

ul.link-dropdown-list.hide li {
	visibility: hidden;
	opacity: 0;
}

/*These attributes affect button links *and* button link dropdowns*/
button.open-link-dropdown p,
button.hovered p {
	color: black;
}

button.open-link-dropdown .wiper,
button.hovered .wiper {
	width: 100%;
}

button.open-link-dropdown.invert p,
button.hovered.invert p {
	color: white;
}

button.link.invert {
	background-color: white;
	color: black;
}

button.open-link-dropdown p.invert,
button.hovered p.invert {
	color: white;
}

button.link-dropdown.invert {
	background-color: white;
	color: black;
}

ul.link-dropdown-list.invert {
	background-color: white;
}

ul.link-dropdown-list li.invert {
	background-image: linear-gradient(to right, var(--secondary-color), var(--secondary-color) 50%, black 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media screen and (orientation: portrait) {
	button.link {
		width: 60vw;
		font-size: 1em;
		border-left-width: 1em;
	}

	button.link p {
		padding-top: .75em;
		padding-bottom: .75em;
		padding-left: 1em;
	}

	ul.link-dropdown-list {
		width: 8em;
		font-size: 1em;
	}

	button.link-dropdown {
		width: 60vw;
		font-size: 1em;
		
		border-left-width: 1em;
	}

	ul.link-dropdown-list li {
		padding-left: 0.5em;
	}

	button.link-dropdown p {
		padding-left: 1em;
		padding-top: .75em;
		padding-bottom: .75em;
	}
}

@media (prefers-color-scheme: dark) {
	button.link {
		background-color: white;
		color: black;
	}

	button.open-link-dropdown p,
	button.hovered p {
		color: white;
	}

	button.link-dropdown {
		background-color: white;
		color: black;
	}

	ul.link-dropdown-list {
		background-color: white;
	}

	ul.link-dropdown-list li {
		background-image: linear-gradient(to right, var(--secondary-color), var(--secondary-color) 50%, black 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	/* Un-invert inverted colors */
	button.link.invert {
		background-color: black;
		color: white;
	}

	button.open-link-dropdown p.invert,
	button.hovered p.invert {
		color: black;
	}

	button.link-dropdown.invert {
		background-color: black;
		color: white;
	}

	ul.link-dropdown-list.invert {
		background-color: black;
	}

	ul.link-dropdown-list li.invert {
		background-image: linear-gradient(to right, var(--secondary-color), var(--secondary-color) 50%, white 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}