/* Fonts */
@font-face {
    font-family: "overused-grotesk";
    src: url("OverusedGrotesk.woff") format("woff");
}
/* Colors */
:root {
	--primary-color: #1a92ff;
	--secondary-color: #9363ff;
	--tertiary-color: #00c4c1;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #1a92ff;
		--secondary-color: #7f1dff;
		--tertiary-color: #00a6a3;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

footer {
	opacity: 75%;
	color: black;
	font-family: overused-grotesk, sans-serif;
	letter-spacing: -0.03em;
	font-weight: 300;
	font-style: normal;
	font-size: .75em;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 1.25em;
}

p.paragraph-text {
	font-size: 1em;
	color: black;
	font-family: overused-grotesk, sans-serif;
	letter-spacing: -0.03em;
	font-weight: 500;
	font-style: normal;
}

/* Inverted Colors */
p.paragraph-text.invert {
	color: white;
}
footer.invert {
	color: white;
}

@media screen and (orientation: portrait) {
	footer {
		display: none;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}

	p.paragraph-text {
		color: white;
	}

	p.paragraph-text.invert {
		color: black;
	}

	footer {
		color: white;
	}

	/* Un-invert inverted colors */
	footer.invert {
		color: black;
	}
}