#intro {
	margin-top: 4em;
	margin-bottom: 8em;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	width: 100%;
}

#intro p {
	width: 24em;
}

h1 {
	font-family: overused-grotesk, sans-serif;
	letter-spacing: -0.03em;
	font-style: italic;
	font-size: 6em;
	font-weight: 900;
	max-width: 9em;
	padding: 0;
	width: fit-content;
	text-align: justify;
	margin: 0;
}

h2 {
	scroll-margin-top: 2em;
	font-family: overused-grotesk, sans-serif;
	letter-spacing: -0.03em;
	font-style: italic;
	font-size: 4em;
	font-weight: 900;
	padding: 0;
	margin: .75em;
	margin-left: 0;
	text-align: left;
	display: block;
	width: 11.25em;
	margin-left: auto;
	margin-right: auto;
}

#ending {
	margin-top: 4em;
	width: 100%;
	display: flex;
	padding-bottom: 33vh;
	align-items: center;
	justify-content: center;
}
#ending-text {
	margin-right: 8em;
	margin-left: 1em;
}
#intro button, #intro ul {
	width: 12em;
}

@media screen and (orientation: portrait) {
	#intro {
		width: 80vw;
		margin-left: 10vw;
		margin-top: 6em;
	}
	#intro button, #intro ul {
		width: 80vw;
	}
	#intro p {
		width: 80vw;
	}
	#ending {
		flex-direction: column;
	}
	#ending-text {
		margin: 0;
		margin-bottom: 1em;
	}
	h1 {
		max-width: 80vw;
		font-size: 3em;
	}
	h2 {
		font-size: 3em;
		width: 70vw;
		padding-top: 1em;
		margin-left: 10vw;
	}
}

@media (prefers-color-scheme: dark) {
	h1, h2 {
		color: white;
	}
}